* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background: url(../public/Fondo7.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.fixed-menu {
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes blink {
  0%, 100% {
    color: rgb(223, 64, 15); /* Color original */
  }
  50% {
    color: rgb(226, 132, 132); /* Color más brillante */
  }
}

@keyframes pulsate {
  0%, 100% {
    font-size: 1em; /* Tamaño de fuente original */
  }
  50% {
    font-size: 1.5em; /* Tamaño de fuente más grande */
  }
}

footer {
  width: 100%;
}